@model Lab_5_Diego_y_Rafa.Models.Cliente

@{
    ViewData["Title"] = "CrearUsuario";
}

<h1>CrearUsuario</h1>

<h3>Cliente</h3>
<hr />
<style>
    h4 {
        color: #FF0101;
    }
</style>
<h4>@ViewData["ErrorCliente"] </h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearUsuario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label"></label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conntraseña" class="control-label"></label>
                <input asp-for="Conntraseña" type="password" class="form-control" />
                <span asp-validation-for="Conntraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Cargo, htmlAttributes: new { @class = "control-label col-md-2" })
                <select @Html.EditorFor(model => model.Cargo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cargo, "", new { @class = "text-danger" })>
                    <option value="Developer">Developer</option>
                    <option value="Manager">Project Manager</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

