@model Lab_5_Diego_y_Rafa.Models.NodoHash

@{
    ViewData["Title"] = "Tarea";
}

<h1>Tarea</h1>

<h3>NodoHash</h3>
<hr />
<style>
    h4 {
        color: #FF0101;
    }
</style>
<h4>@ViewData["ErrorTarea"] </h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Tarea">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desciprcion" class="control-label"></label>
                <input asp-for="Desciprcion" class="form-control" />
                <span asp-validation-for="Desciprcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proyecto" class="control-label"></label>
                <input asp-for="Proyecto" class="form-control" />
                <span asp-validation-for="Proyecto" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Prioridad, htmlAttributes: new { @class = "control-label col-md-2" })
                <select @Html.EditorFor(model => model.Prioridad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Prioridad, "", new { @class = "text-danger" })>
                    <option value="1">Urgente Importante (1)</option>
                    <option value="2">Urgente no importante(2)</option>
                    <option value="2">Importante no Urgente(2)</option>
                    <option value="3">No importante (3)</option>

                </select>
            </div>

            <div class="form-group">
                <label asp-for="Fehca" class="control-label"></label>
                <input asp-for="Fehca" class="form-control" />
                <span asp-validation-for="Fehca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListasTareas">Regresar a mis tareas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
